python-dotenv
pandas
pymupdf
pinecone
langchain_text_splitters
openai
litellm
google-generativeai
google-adk[database]
streamlit
streamlit-elements
streamlit_card
streamlit-float
torch==2.8.0
torchaudio==2.8.0
torchvision==0.23.0
pyannote.audio==3.4.0
pyannote.core==5.0.0
openai-whisper==20250625